.message {
  text-align: right;
  margin-bottom: 30px;
}

.imageAndText {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  gap: 14px;
  color: #FFFFFF;
}

.imageAndText img {
  width: 48px;
  height: 48px;
}

.text {
  padding: 8px 13px;
  background-color: #0066CC;
  border-radius: 10px 10px 0 10px;
}

.text:after {
  position: absolute;
  right: 48px;
  bottom: 0;
  content: '';
  display: block;
  width: 16px;
  height: 10px;
  background-color: #0066CC;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.name {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.messageText {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.time {
  margin-right: 13px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
}